body{
  font-family: sans-serif;

}

.outer{
  text-align: center;
}

.page{

  max-width: 1200px;
  width: 100%;
  display: inline-block;
}

.topnav{
  background-color: #f5eaea;
  height:100px;
  text-align: left;

}

/* BOX IMAGE */

.box img{
	width:100%;
	padding-bottom:10px;
	
}
/* HERO IMAGE */
.hero_content{
	font-size:28px;
	text-align: left;
	font-color:#fff;
	margin-left:25px;
	margin-bottom:50px;
}
.hero_text_headline{
	font-weight: bold;
	font-size: 34px;
	text-align:left;
	font-color:#fff;
	margin-left:25px;
	margin-top:50px;
}

.hero_content img{
	width:100%;
}

.our-mission{
	width:100%;
	background-color:#ebe9e8;
	text-color:#49bb87;
	text-align:center;
	padding-bottom: 25px;
	padding-top:25px;
}

/* SIDEBAR COMPONENT */

.side_bar{
  height:100%;
  overflow: auto;
  margin-left:0;
  padding-left: 0;
  margin-top:20px;
  margin-bottom:20px;
 background-color:#49bb87;
  text-align: left;

}

/* [class^="side_bar"] element that starts with */
div [class^="side_bar"]:first-of-type {
    margin: 0px;
   
}

div [class^="side_bar"]:last-of-type {
    margin: 0px;
   
}